apiVersion: v1
kind: Secret
metadata:
  name: {{ include "yatai-image-builder.envname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "yatai-image-builder.labels" . | nindent 4 }}
type: Opaque
stringData:
  YATAI_IMAGE_BUILDER_SHARED_ENV_SECRET_NAME: {{ include "yatai-image-builder.shared-envname" . }}

  YATAI_SYSTEM_NAMESPACE: {{ .Values.yataiSystem.namespace }}
  YATAI_API_TOKEN: {{ include "yatai-image-builder.yataiApiToken" . | quote }}

  DOCKER_REGISTRY_SERVER: {{ .Values.dockerRegistry.server | quote }}
  DOCKER_REGISTRY_IN_CLUSTER_SERVER: {{ .Values.dockerRegistry.inClusterServer | quote }}
  DOCKER_REGISTRY_USERNAME: {{ .Values.dockerRegistry.username | quote }}
  {{- if not .Values.dockerRegistry.passwordExistingSecretName }}
  DOCKER_REGISTRY_PASSWORD: {{ .Values.dockerRegistry.password | quote }}
  {{- end }}
  DOCKER_REGISTRY_SECURE: {{ .Values.dockerRegistry.secure | quote }}
  DOCKER_REGISTRY_BENTO_REPOSITORY_NAME: {{ .Values.dockerRegistry.bentoRepositoryName | quote }}

  {{- if .Values.aws.accessKeyID }}
  AWS_ACCESS_KEY_ID: {{ .Values.aws.accessKeyID | quote }}
  {{- end }}
  {{- if .Values.aws.secretAccessKey }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.aws.secretAccessKey | quote }}
  {{- end }}
  {{- if .Values.gcp.accessKeyID }}
  GCP_ACCESS_KEY_ID: {{ .Values.gcp.accessKeyID | quote }}
  {{- end }}
  {{- if .Values.gcp.secretAccessKey }}
  GCP_SECRET_ACCESS_KEY: {{ .Values.gcp.secretAccessKey | quote }}
  {{- end }}

  INTERNAL_IMAGES_BENTO_DOWNLOADER: {{ .Values.internalImages.bentoDownloader | quote }}
  INTERNAL_IMAGES_KANIKO: {{ .Values.internalImages.kaniko | quote }}
  INTERNAL_IMAGES_BUILDKIT: {{ .Values.internalImages.buildkit | quote }}
  INTERNAL_IMAGES_BUILDKIT_ROOTLESS: {{ .Values.internalImages.buildkitRootless | quote }}

  {{- if .Values.dockerRegistry.useAWSECRWithIAMRole }}
  AWS_ECR_WITH_IAM_ROLE: "true"
  AWS_ECR_REGION: {{ .Values.dockerRegistry.awsECRRegion | quote }}
  {{- end }}

  BENTO_IMAGE_BUILD_ENGINE: {{ .Values.bentoImageBuildEngine | quote }}

  DISABLE_YATAI_COMPONENT_REGISTRATION: {{ .Values.disableYataiComponentRegistration | quote }}

  ADD_NAMESPACE_PREFIX_TO_IMAGE_NAME: {{ .Values.addNamespacePrefixToImageName | quote }}

  BUILDKIT_S3_CACHE_ENABLED: {{ .Values.buildkit.s3Cache.enabled | quote }}
  BUILDKIT_S3_CACHE_REGION: {{ .Values.buildkit.s3Cache.region | quote }}
  BUILDKIT_S3_CACHE_BUCKET: {{ .Values.buildkit.s3Cache.bucket | quote }}
  BUILDKIT_CACHE_REPO: {{ .Values.buildkit.cacheRepo | quote }}

  ESTARGZ_ENABLED: {{ .Values.estargz.enabled | quote }}

  KANIKO_CACHE_REPO: {{ .Values.kaniko.cacheRepo | quote }}
  KANIKO_SNAPSHOT_MODE: {{ .Values.kaniko.snapshotMode | quote }}

  CONTAINER_IMAGE_S3_ENDPOINT_URL: {{ .Values.containerImageS3Storage.endpointURL | quote }}
  CONTAINER_IMAGE_S3_BUCKET: {{ .Values.containerImageS3Storage.bucket | quote }}
  CONTAINER_IMAGE_S3_ENABLE_STARGZ: {{ .Values.containerImageS3Storage.enableStargz | quote }}
  CONTAINER_IMAGE_S3_ACCESS_KEY_ID: {{ .Values.containerImageS3Storage.accessKeyID | quote }}
  CONTAINER_IMAGE_S3_SECRET_ACCESS_KEY: {{ .Values.containerImageS3Storage.secretAccessKey | quote }}
  CONTAINER_IMAGE_S3_SECURE: {{ .Values.containerImageS3Storage.secure | quote }}
